/* Contenitore del Login */
:host {
  display: flex;
  justify-content: center; /* Centro orizzontale */
  align-items: center; /* Centro verticale */
  height: 90vh; /* Assicura che il contenitore riempia l'intera altezza della finestra */
}

.login-container {
  text-align: center; /* Centra il testo all'interno del contenitore */
  padding: 2rem; /* Aggiunge un margine interno per il contenuto */
  border: 1px solid #ccc; /* Facoltativo: Bordo per il contenitore */
  border-radius: 10px; /* Bordo arrotondato */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombreggiatura per un layout moderno */
  background-color: #fff; /* Colore di sfondo */
}

/* Logo */
.logo img {
  max-width: 150px; /* Dimensione del logo */
  height: auto;
  margin-bottom: 20px;
}

/* Titolo */
h1 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

/* Gruppi di form */
.form-group {
  margin-bottom: 15px;
  text-align: left; /* Campi del form allineati a sinistra */
}

label {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #007bff; /* Colore al focus */
  outline: none;
}

/* Bottone */
.btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:disabled {
  background-color: rgba(0, 123, 255, 0.6); /* Colore più chiaro se disabilitato */
}

.btn:hover {
  background-color: #0056b3; /* Colore scuro al passaggio */
}

/* Collegamento per il recupero password */
.forgot-password,crea-utenza {
  margin-top: 15px;
}

.forgot-password,crea-utenza a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #007bff;
  transition: color 0.3s;
}

.forgot-password,crea-utenza a:hover {
  color: #0056b3;
}
